<style type="text/css">
	.error {
		color: red;
	}
	
</style>


	<header id="header">
		<div class="container">

			<div id="logo" class="pull-left" style="width: 100%">

				<nav id="nav-menu-container">
					<ul class="nav-menu" style="width: 100%;">
						<li class="menu-active"><a href="/user">Home</a></li>
						<li><a href="/givetest">Give Test</a></li>
						<li><a href="/getresult">Get Result</a></li>
						<li><a href="#">Update Profile</a></li>
					</ul>
					<ul class="nav nav-menu nav-navbar nav-right">
						<li><a class="button" href="/logout"><i
								class="fa fa-sign-in"></i>&nbsp;Logout</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>



	<main id="main"> <br>
	<section id="portfolio">
		<div class="container wow fadeInUp">
			<div class="section-header">
				<h3 class="section-title">Update User</h3>
				<p class="section-description">Enter the User details to be
					Updated here</p>
			</div>
			<form id="updateform" action="updateusersubmit" method="post"
				>
				<div class="row">
					<div class="text-center col-md-6 col-lg-6">User Id:</div>
					<div class="col-md-4 col-lg-4">
                        <input type="text" name="userId" [(ngModel)] = "user.userId" (change) = "validate()"/>
                        <span *ngIf = 'user_error.idError' class="error">{{user_error.idError}}</span>
					</div>
				</div>
				<div class="row">
					<div class="text-center col-md-6 col-lg-6">User Name:</div>
					<div class="col-md-4 col-lg-4">
						<input id="name" type="text" name="userName" [(ngModel)] = "user.userName" (change) = "validate()" />
						<span id="username_error_message" *ngIf = "user_error.nameError" class = "error">{{user_error.nameError}}</span>
					</div>
				</div>
				<div class="row">
					<div class="text-center col-md-6 col-lg-6">User Password:</div>
					<div class="col-md-4 col-lg-4">
						<input id="password" type="text" name="userPassword"
                        [(ngModel)] = "user.userPassword" (change) = "validate()"/>
						<span id="password_error_message" class = "error" *ngIf = "user_error.passwordError">{{user_error.passwordError}}</span>
					</div>
				</div>
				<div class="row">
					<div class="text-center col-md-6 col-lg-6"></div>
					<div class="col-md-4 col-lg-4">
						<button type="button" class="btn btn-primary" (click) = "updateUser()" >Update</button>
					</div>
				</div>
				<br>
			</form>
		</div>
	</section>

	</main>


	<!--==========================

    Footer
  ============================-->
	<footer id="footer" style="position: fixed; bottom: 0px; width: 100%;">
		<div class="footer-top">
			<div class="container"></div>
		</div>
	</footer>
	<!-- #footer -->

	<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>



