<header id="header" style="background-color: black;">
		<div class="container">

			<div id="logo" class="pull-left" style="width: 100%">

				<nav id="nav-menu-container">
					<ul class="nav-menu" style="width: 100%;">
						<li class="menu-active"><a href="admin">Home</a></li>
						<li class="menu-has-children"><a href="#">Test</a>
							<ul>
								<li><a href="addtest">Add Test</a></li>
								<li><a href="updatetest">Update Test</a></li>
								<li><a href="removetest">Remove Test</a></li>
								<li><a href="showalltests">Show All Test</a></li>
								<li><a href="assigntest">Assign Test</a></li>
							</ul></li>
						<li class="menu-has-children"><a href="#">Question</a>
							<ul>
								<li><a href="addquestion">Add Question</a></li>
								<li><a href="updatequestion">Update Question</a></li>
								<li><a href="removequestion">Remove Question</a></li>
								<li><a href="listquestion">List Question</a></li>
							</ul></li>
						<li><a href="showallusers">List Users</a></li>
						<li><a href="updateuser">Update Profile</a></li>
					</ul>
					<ul class="nav nav-menu nav-navbar nav-right">
						<li><a class="button" href="logout"><i
								class="fa fa-sign-in"></i>&nbsp;Logout</a></li>
					</ul>
				</nav>
            </div>
            </div>
	</header>


	<main id="main"> <br>
	<section id="portfolio">
		<div class="container wow fadeInUp">
			<div class="section-header">
				<h3 class="section-title">Add Test</h3>
				<p class="section-description">Enter the test details to be
					added here</p>
			</div>
			<form id="testform" name="form" #f="ngForm" novalidate action="addtestsubmit" method="post"> 
					
				<div class="row">
					
					<div class="text-center col-md-6 col-lg-6">Enter the Test
						Name:</div>
					<div class="col-md-4 col-lg-4">
						<input type="text" class="form-control" name="testName" [(ngModel)]="model.testName" 
					#testName="ngModel" [ngClass]="{'is-invalid':f.submitted && testName.invalid}"	[ngModelOptions]="{standalone: true}" path="testName"
							placeholder="Enter Test Name" id="name"  required (focusout) = "validate()" />
							<span *ngIf = 'test_error.nameError' class="error" style="color: red">{{test_error.nameError}}</span>
							
							
							<div class="invalid-feedback">
									<div>Test Name  is required</div>
							</div>
						
						
					</div>
				
				</div>
				<br>
				<div class="row">
				
					<div class="text-center col-md-6 col-lg-6">Enter the Test
						Duration:</div>
					<div class="col-md-4 col-lg-4">
						<input type="text" class="form-control" name="testDuration" [(ngModel)]="model.testDuration" 
						#testDuration="ngModel" [ngClass]="{'is-invalid':f.submitted && testDuration.invalid}"
						[ngModelOptions]="{standalone: true}" path="testDuration" placeholder="(HH:MM:SS)"
							id="duration"  required (focusout)="validate()" />
							<span *ngIf = 'test_error.durationError' class="error" style="color: red">{{test_error.nameError}}</span>
							
								<div class="invalid-feedback">
								<div>Test Duration is required</div>
							</div>
						
					</div>
				
				</div>
				<br>
				<div class="row">
					<div class="text-center col-md-6 col-lg-6">Enter the Test
						Start time:</div>
					<div class="col-md-4 col-lg-4">
						<input type="datetime-local" class="form-control" name="startTime"
						[(ngModel)]="model.startTime" #startTime="ngModel" 
						[ngClass]="{'is-invalid':f.submitted && startTime.invalid}"
						[ngModelOptions]="{standalone: true}" path="startTime" id="startTime" required (focusout)="validate()"/>
						<span *ngIf ='test_error.startTimeError' class="error" style="color:red">{{test_error.startTimeError}}</span>
						
						<div class="invalid-feedback">
							<div>Start Time is required</div>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="text-center col-md-6 col-lg-6">Enter the Test
						End time:</div>
					<div class="col-md-4 col-lg-4">
						<input type="datetime-local" class="form-control" name="endTime"
						[(ngModel)]="model.endTime" #endTime="ngModel" 
						[ngClass]="{'is-invalid':f.submitted && endTime.invalid}"
						[ngModelOptions]="{standalone: true}" path="endTime" id="endTime" required/>
							<div class="invalid-feedback">
								<div>End Time is required</div>
							</div>
					</div>
				</div>
				<br>
				<div class="row justify-content-center">
					<div class="col-lg-4"  class="form-group">
						<button class="btn btn-primary" type="submit" name="Add Test" (click)="addTest()">Add
							Test</button>
					</div>
					<!--<div class="col-lg-4">
						<button class="btn btn-primary" type="reset" name="Clear">Clear</button>
					</div>-->
				</div>

			</form>
		</div>
	</section>
	<section id="contact">
			<div class="container wow fadeInUp">
			  <div class="section-header">
				<h3 class="section-title">Contact</h3>
				<p class="section-description">You can get in touch with us in the following ways</p>
			  </div>
			</div>
	  
			<div class="container wow fadeInUp mt-5">
			  <div class="row justify-content-center">
	  
				<div class="col-lg-3 col-md-4">
	  
				  <div class="info">
					<div>
					  <i class="fa fa-map-marker"></i>
					  <p>CKP<br>Airoli, Navi Mumbai</p>
					</div>
	  
					<div>
					  <i class="fa fa-envelope"></i>
					  <p>info@example.com</p>
					</div>
	  
					<div>
					  <i class="fa fa-phone"></i>
					  <p>+91 5589554885</p>
					</div>
				  </div>
	  
				  <div class="social-links">
					<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
					<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
					<a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
					<a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
					<a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
				  </div>
	  
				</div>
			  </div>
	  
			</div>
		  </section><!-- #contact -->
	  
	  
		</main>
	  
	  
		


	

